.registration__form-show-password {
  display: 'flex';
  justify-content: 'center';
  align-items: center;
  color: var(--white);
}

.registration__form-show-password label {
  margin-left: 0.2rem;
}
