.home__row {
  height: 250px;
}

.home__row-title {
  font-size: 2rem;
  font-weight: 200;
  margin-left: 1rem;
  color: var(--quicksand);
}

.home__row-container {
  height: 100%;
  margin: 0 0.5rem;
  padding: 0.6rem 0;
  cursor: auto;
}

.home__row-container img {
  height: 100%;
  cursor: pointer;
  /* box-shadow: 3px 3px 15px 3px var(--black), -3px -3px 15px 3px var(--black); */
  transition: scale 0.2s ease-in-out;
}

.home__row-container img:hover {
  scale: 1.06;
}

/* Media Query */
@media screen and (max-width: 770px) {
  .home__row {
    height: 250px;
  }

  .home__row-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .home__row {
    height: 230px;
  }

  .home__row-title {
    font-size: 1.4rem;
  }
}
